@font-face {
    font-family: "PressStart2P";
    src: url(../font/press_start_2p/PressStart2P.ttf);
}

html,
body {
    font-family: "PressStart2P", monospace;
    background-color: #002e0a;
    text-align: center;
    color: #81ba28;
}

footer {
    margin-top: 100px;
}

h1,
h2 {
    min-width: 640px;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: #d9da9d;
    background-color: #1a6b05;
}

h2 {
    margin-top: 100px;
}

h3 {
    margin-top: 50px;
    color: #d9da9d;
}

ul,
p {
    min-width: 640px;
    text-align: left;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: square;
    text-align: justify;
    text-justify: inter-word;
}

a {
    border-style: solid;
    border-width: 1px;
    color: #81ba28;
}

a:hover {
    border-style: solid;
    border-width: 1px;
    color: #d9da9d;
    background-color: #1a6b05;
}

img {
    display: block;
    margin: auto;
    max-width: 40%;
    min-width: 640px;
    border: 2px solid #002e0a;
}

#imgBlock img {
    display: inline;
    margin: 10px;
}
